.content-card {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
  width: 50%;
  flex: 0 50%;
  flex-wrap: wrap;

  &:nth-child(2n) {
    padding-right: 0;
    padding-left: 0.5rem;
  }
}

.content-card__img {
  img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    height: 100%;
  }
}

.content-card__body {
  background: $element-background;
  box-sizing: border-box;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;

  .content-card__label {
    display: none;
    padding: 0 0.7rem 1rem 0.7rem;
  }
}

.content-card__title {
  font-weight: normal;
  text-transform: uppercase;
  overflow-wrap: break-word;
  padding: 0 0.7rem;
}

.content-card__description {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 0.7rem;
  word-wrap: break-word;
  max-height: 4.8em;
  line-height: 1.2em;
}

.content-card__options {
  align-items: center;
  background: $element-background;
  border-top: 1px $border solid;
  border-radius: 0 0 0.5rem 0.5rem;
  box-sizing: border-box;
  display: flex;
  margin-top: 1rem;
  padding: 1rem 0.3rem;
  width: 100%;

  a {
    background: $border;
    border-radius: 2rem;
    color: $text;
    text-align: center;
    text-transform: uppercase;
    margin-right: 0.6rem;
    padding: 0.3rem 0.6rem;
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 0%;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: $secondary-active;
    }
  }

  .content-card__edit {
    background: transparent;
    flex: 0 20px;
    padding: 0;
  }
}

.view-mode-list {
  .content-card {
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    flex: 1;
    flex-wrap: nowrap;
    padding-right: 0;

    &:nth-child(2n) {
      padding-left: 0;
    }
  }

  .content-card__img {
    width: 40%;

    img {
      border-radius: 0.5rem 0 0 0.5rem;
      object-fit: cover;
    }
  }

  .content-card__body {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .content-card__description {
    max-height: 2.5em;
  }

  .content-card__options {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}