.content-card {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
  width: 50%;
  flex: 0 50%;
  flex-wrap: wrap;

  &:nth-child(2n) {
    padding-right: 0;
    padding-left: 0.5rem;

    @media (min-width: 768px) {
      padding-right: 1rem;
      padding-left: 0;
    }
  }

  &:nth-child(4n) {
    @media (min-width: 768px) {
      padding-right: 0;
    }
  }

  @media (min-width: 768px) {
    width: 25%;
    flex: 0 25%;
    padding-right: 1rem;
  }
}

.content-card__img {
  img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    height: 100%;

    @media (min-width: 768px) {
      border-radius: 0.3rem 0.3rem 0 0;
    }
  }
}

.content-card__body {
  background: $element-background;
  box-sizing: border-box;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;

  @media (min-width: 768px) {
    border-radius: 0 0 0.3rem 0.3rem;
    padding-top: 1rem;
  }

  .content-card__label {
    color: $secondary-active;
    display: none;
    font-size: 0.7rem;
    padding: 0 0.7rem 0.2rem;

    @media (min-width: 768px) {
      display: block;
    }
  }
}

.content-card__title {
  font-weight: normal;
  text-transform: uppercase;
  overflow-wrap: break-word;
  padding: 0 0.7rem;

  @media (min-width: 768px) {
    font-size: 0.75rem;
    margin: 0 0 1rem;
  }
}

.content-card__description {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 0.7rem;
  word-wrap: break-word;
  max-height: 4.8em;
  line-height: 1.2em;

  @media (min-width: 768px) {
    font-size: 0.7rem;
    max-height: 2.5em;
  }
}

.content-card__options {
  align-items: center;
  background: $element-background;
  border-top: 1px $border solid;
  border-radius: 0 0 0.5rem 0.5rem;
  box-sizing: border-box;
  display: flex;
  margin-top: 1rem;
  padding: 1rem 0.3rem;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    padding: 1rem;
  }

  a {
    background: $border;
    border-radius: 2rem;
    color: $text;
    flex: 1 0 0%;
    font-size: 0.9rem;
    margin-right: 0.6rem;
    padding: 0.3rem 0.6rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: $secondary-active;
    }

    @media (min-width: 768px) {
      font-size: 0.7rem;
      flex: 0;
      padding: 0.3rem 1rem;
    }
  }

  .content-card__edit {
    background: transparent;
    flex: 0 20px;
    padding: 0;

    @media (min-width: 768px) {
      position: absolute;
      right: 1rem;
    }

    &:hover {
      background: transparent;
      color: $cta;
    }
  }
}

.view-mode-list {
  .content-card {
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    flex: 1;
    flex-wrap: nowrap;
    padding-right: 0;

    &:nth-child(2n) {
      padding-left: 0;
    }
  }

  .content-card__img {
    width: 40%;

    img {
      border-radius: 0.5rem 0 0 0.5rem;
      object-fit: cover;
    }
  }

  .content-card__body {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .content-card__description {
    max-height: 2.5em;
  }

  .content-card__options {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}