$primary: #222;
$primary-active: #111;
$secondary: #1c1c1c;
$secondary-active: #828282;
$element-background: #333;
$global-background: #0f0f0f;

$text: #fdfdfd;
$text-active: #3975c3;

$cta: #4294f4;

$border: #555;
$border-active: #434343;